<launch>
    <!-- Global paramters -->
    <arg name="soma_config"/>
    <arg name="time_increment" default="1"/>
    <arg name="time_window" default="10"/>
    <arg name="periodic_cycle" default="10080"/>

    <arg name="region_observation_online" default="true"/>

    <arg name="with_logging_manager" default="false"/>
    <arg name="path_visualisation" default="false"/>
    <arg name="online_construction" default="true"/>
    <arg name="ubd_topic" default="/upper_body_detector/bounding_box_centres"/>
    <arg name="collection_name" default="people_trajectory"/>
    <arg name="logging_manager_topic" default="/logging_manager/log_stamped"/>
    <arg name="map_info" default=""/>
    <arg name="max_trajectories" default="10000"/>
    <arg name="tracker_topic" default="/people_tracker_filter/positions"/>

    <arg name="with_scene" default="true"/>
    <arg name="scene_topic" default="/change_detection/detections"/>

    <arg name="with_people" default="true"/>
    <arg name="trajectory_topic" default="/people_trajectory/trajectories/complete"/>

    <arg name="with_activity" default="true"/>
    <arg name="update_every" default="60"/>
    <arg name="activity_collection" default="activity_learning"/>

    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>
    
    <!-- People Trajectory - fixed -->
    <include file="$(find human_trajectory)/launch/human_trajectory.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="tracker_topic" value="$(arg tracker_topic)"/>
        <arg name="with_logging_manager" value="$(arg with_logging_manager)"/>
        <arg name="path_visualisation" value="$(arg path_visualisation)"/>
        <arg name="online_construction" value="$(arg online_construction)"/>
        <arg name="ubd_topic" value="$(arg ubd_topic)"/>
        <arg name="collection_name" value="$(arg collection_name)"/>
        <arg name="logging_manager_topic" value="$(arg logging_manager_topic)"/>
        <arg name="map_info" value="$(arg map_info)"/>
        <arg name="max_trajectories" value="$(arg max_trajectories)"/>
    </include>

    <!-- Region Observation - fixed -->
    <include file="$(find region_observation)/launch/observation.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="soma_config" value="$(arg soma_config)"/>
        <arg name="time_increment" value="$(arg time_increment)"/>
        <arg name="region_observation_online" value="$(arg region_observation_online)"/>
    </include>

    <!-- People Temporal Patterns -->
    <group if="$(arg with_people)">
        <include file="$(find people_temporal_patterns)/launch/peetrap.launch">
            <arg name="machine" value="$(arg machine)"/>
            <arg name="user" value="$(arg user)"/>
            <arg name="soma_config" value="$(arg soma_config)"/>
            <arg name="time_window" value="$(arg time_window)"/>
            <arg name="time_increment" value="$(arg time_increment)"/>
            <arg name="periodic_cycle" value="$(arg periodic_cycle)"/>
            <arg name="trajectory_topic" value="$(arg trajectory_topic)"/>
        </include>
    </group>

    <!-- Activity Temporal Patterns -->
    <group if="$(arg with_activity)">
        <include file="$(find activity_temporal_patterns)/launch/actrap.launch">
            <arg name="machine" value="$(arg machine)"/>
            <arg name="user" value="$(arg user)"/>
            <arg name="soma_config" value="$(arg soma_config)"/>
            <arg name="time_window" value="$(arg time_window)"/>
            <arg name="time_increment" value="$(arg time_increment)"/>
            <arg name="periodic_cycle" value="$(arg periodic_cycle)"/>
            <arg name="update_every" value="$(arg update_every)"/>
            <arg name="activity_collection" value="$(arg activity_collection)"/>
        </include>
    </group>

    <!-- Scene Temporal Patterns -->
    <group if="$(arg with_scene)">
        <include file="$(find scene_temporal_patterns)/launch/scitrap.launch">
            <arg name="machine" value="$(arg machine)"/>
            <arg name="user" value="$(arg user)"/>
            <arg name="soma_config" value="$(arg soma_config)"/>
            <arg name="time_window" value="$(arg time_window)"/>
            <arg name="time_increment" value="$(arg time_increment)"/>
            <arg name="periodic_cycle" value="$(arg periodic_cycle)"/>
            <arg name="scene_topic" value="$(arg scene_topic)"/>
        </include>
    </group>

</launch> 
